.login-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-field{
  width: 90%;
}

.form-button{
  margin-bottom: 1rem ;
}

.banned-message {
  background-color: #f44336;
  color: #ffffff;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}



