<app-navbar></app-navbar>

<mat-card *ngFor="let question of questions" class="question-card">
  <mat-card-header>
    <mat-card-title>{{ question.title }}</mat-card-title>
    <mat-card-subtitle>{{ question.creationDate }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ question.text }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>thumb_down</mat-icon>
    </button>
    <button mat-button (click)="navigateToQuestion(question.qId)">
      <mat-icon>chat_bubble</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

