.question-card{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.question-image{
  max-height: 200px;
  max-width: 200px;
}

.question-actions {
  display: flex;
  align-items: center;
}

.question-actions button {
  margin: 0 5px;
}

.question-actions span {
  min-width: 20px;
  text-align: center;
}
button.selected mat-icon {
  color: #3f51b5;
}

