<h2 mat-dialog-title>Add an question</h2>
<mat-dialog-content>
  <div>
    <p>Add a title</p>
    <input type="text" [(ngModel)]="data.title" placeholder="Enter title">
  </div>
  <div>
    <p>Add a description</p>
    <textarea class="dialog-textarea" style="resize: none; width: 25rem; height: 20rem;" matInput [(ngModel)]="data.text"></textarea>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Never mind</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
